<div class="row">
  <div class="col">
    <div class="d-flex flex-column">
      <div class="p-2">
        <div class="dropdown">
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>Drones</b>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div *ngFor="let drone of drones">
              <a class="dropdown-item" (click)="onSelectDroneFilter(drone.droneId)" >{{drone.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="d-flex flex-column">
      <div class="p-2">
        <div class="dropdown">
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenuButton2"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>Projects</b>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div *ngFor="let project of projects">
              <a class="dropdown-item">{{project.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="dropdown">
      <div class="d-flex flex-column">
        <div class="p-2">
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenuButton3"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>Pilots</b>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Pilot 1</a>
            <a class="dropdown-item" href="#">Pilot 2</a>
            <a class="dropdown-item" href="#">Pilot 3</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="dropdown">
      <div class="d-flex flex-column">
        <div class="p-2">
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenuButton4"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>Others</b>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Other 1</a>
            <a class="dropdown-item" href="#">Other 2</a>
            <a class="dropdown-item" href="#">Other 3</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




