<div class="container-fluid">
  <div class="row">
    <div class="col-0">
      <div class="d-flex flex-column">
        <div class="p-2">
          <div class="card bg-light mb-3" style="width: 18rem;">
            <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
              <h5 class="card-title">{{statistics.flights | number}}</h5>
              <p class="card-text">{{'Flights' | uppercase}}</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0">
      <div class="d-flex flex-column">
        <div class="p-2">
          <div class="card bg-light mb-3" style="width: 18rem;">
            <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
              <h5 class="card-title">{{statistics.projects | number}}</h5>
              <p class="card-text">{{'Projects' | uppercase}}</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0">
      <div class="d-flex flex-column">
        <div class="p-2">
          <div class="card bg-light mb-3" style="width: 18rem;">
            <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
              <h5 class="card-title">{{statistics.pilots | number}}</h5>
              <p class="card-text">{{'Pilots' | uppercase}}</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0">
      <div class="d-flex flex-column">
        <div class="p-2">
          <div class="card bg-light mb-3" style="width: 18rem;">
            <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
              <h5 class="card-title">{{12345 | number}}</h5>
              <p class="card-text">{{'Others' | uppercase}}</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

