<div class="container-fluid">
  <div class="row">
    <div class="col px-sm-0 bg-default">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-0 bg-dark">
       <app-body-sidebar></app-body-sidebar>
    </div>
    <div class="col">
      <app-header-filter></app-header-filter>
      <app-body-map></app-body-map>
      <app-body-statistics></app-body-statistics>
      <app-body-table></app-body-table>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-0 bg-dark">
      <app-footer></app-footer>
    </div>
  </div>
  -->
</div>
